body{
	padding-top: 60px;
}

.navbar-brand,
.navbar-nav > li >a{
	height: 60px;
	line-height: 50px;
}

.navbar-left >img{
	width: 60px;
    height: 60px;
    border-radius: 30%;
    overflow: hidden;
    margin-top: 2px;
}

.carousel-inner, .carousel-item{
	min-height: 650px;
	background-size: cover;
	background-position: center center
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .myFooter {
        height: 100%;
    }

    main {
        min-height: 200px
    }
}

.myFooter {
    margin-top: 50px;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


.myFooter li {
    color: white;
    padding-bottom: 2%;
    font-size: medium;
}

.myFooter a {
    color: white;
    padding-bottom: 2%;
    font-size: medium;
}


.myFooter h1 {
    padding: 10px;
    font-size: 2.7em;
    color: rgb(245, 235, 245);
    text-align: center;
}


.myFooter h3 {
    color: #ff8e15;
    padding-bottom: 5%;
    font-size: x-large;
		margin-left: +35px;
}


.myFooter main {
    background-color: #343a40;
    display: flex;
    flex-flow: row wrap;
    margin-top: 3%;
    padding-bottom: 2%;
    flex: 1 1 auto;
    text-align: center;
}

.myFooter main > section {
    flex: 1 1 auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.myFooter main > section > p {
    padding-bottom: 20px
}

.myFooter main > section > div > ul {
    list-style-type: none;
}
.myFooter footer {
    margin-top: 0.1%;
    color: #ff8224;
    background-color: #343a40;
    text-align: center;
    padding: 10px;
}

.myFooter section {
    display: table-cell;
}


.breadcrumb{
	margin-top: -6px;
}

.col-md-3 > a{
	color: #000000;
}

.col-md-3 > a > img {
	width: 150px;
	height: 200px;
}
