body{
	padding-top: 60px;
}

.navbar-brand,
.navbar-nav > li >a{
	height: 60px;
	line-height: 50px;
}

.navbar-left >img{
	width: 60px;
    height: 60px;
    border-radius: 30%;
    overflow: hidden;
    margin-top: 2px;
}